* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffe2b0;
}

@font-face {
  font-family: Philosofer-Regular;
  src: url(/bakery/fonts/Philosopher-Regular.ttf);
}
header {
  text-align: center;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  text-align: center;
}

li {
  display: inline-block;
  margin-right: 100px;
}

li:last-child {
  margin-right: 0;
}

a {
  font-size: 18px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

nav {
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.section-image {
  position: relative;
  background-image: url(/bakery/img/background_image.jpg);
  height: 640px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

.section-image__block {
  position: absolute;
  top: 54%;
  left: 50%;
  height: 190px;
  width: 420px;
  background: linear-gradient(
    180deg,
    rgba(244, 213, 178, 0.8) 0%,
    rgba(234, 156, 65, 0.8) 100%
  );
  padding-top: 15px;
}
.section-image__border {
  border: 1px solid black;
  height: 160px;
  width: 390px;
  margin: 0 auto;
  padding: 17px 0 0 28px;
}

.section-image__title {
  font-size: 36px;
  margin-bottom: 9px;
  font-family: Philosofer-Regular;
  font-weight: 400;
}

.section-image__text {
  font-size: 12px;
  font-family: Roboto;
}

.section-description__icon-box {
  text-align: center;
  margin-bottom: 20px;
}

.section-description__icon-box img {
  margin-right: 76px;
}
.section-description__icon-box img:last-child {
  margin-right: 0;
}

.section-deckription__title {
  text-align: center;
  font-size: 96px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Philosofer-Regular;
  font-weight: 400;
}

.section-deckription__text {
  font-size: 18px;
  text-align: center;
  margin-right: 500px;
  margin-left: 500px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
}

.red {
  color: #f15b40;
}

.section-map__line {
  border-bottom: 1px solid #999999;
  width: 1024px;
  margin: 0 auto;
}

.section-map {
  margin-bottom: 20px;
  text-align: center;
}
.section-map__title {
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: Philosofer-Regular;
  font-weight: 400;
}
iframe {
  margin-bottom: 20px;
}
a:hover{
  color: rgba(0, 0, 0, 0.5);
}

img{
  transform: transform 1s;
}

img:hover{
  transform: scale(120%);
}




































































































































































